<div class="container-fluid home-class">

	<div class="row top-row">
	<h2 class="box-heading"> my Deadlines </h2>
		<div class="col-md-2" ng-repeat="t in myTasks track by $index">
			<div class="panel panel-default">
				<div class="box-heading">
					{{t.day}}
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="p in t.tasks track by $index">
							{{p}}
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<i class="fa fa-trash" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>



	<div class="row second-row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="box-heading">
					Team's tasks
				</div>
				<div class="panel-body">
					<table>
						<tr>
							<th>From</th>
							<th>On</th>
							<th>Deadline</th>
							<th>task</th>
							<th>Actions</th>
						</tr>
						<tr ng-repeat="a in teamTasks track by $index">
							<td>Admin</td>
							<td>21/1/2017</td>
							<td>30/1/2017</td>
							<td>{{a}}</td>
							<td>
								<i class="fa fa-pencil" aria-hidden="true"></i>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>



		<div class="col-sm-6">


			<div class="panel panel-default">
				<div class="box-heading box1">
					Assign Task
				</div>
				<div class="panel-body">

					<form ng-submit="newtask(forUser, taskDescr, deadline)">
						For:
						<select ng-model="forUser">
							<option>User1</option>
							<option>User2</option>
							<option>User3</option>
						</select>
						<br> <hr>
						Task: <input type="text" placeholder="What?" ng-model="taskDescr"> <br> <hr>
						Completed before: <input type="date" ng-model="deadline"> <br> <hr>
						<input type="submit" class="btn bt-primary" value="Add task">
					</form>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<a href=""> Go to User1's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User2's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User3's tasks</a>
		</div>
	</div>


</div>