<div class="container-fluid home-class">

	<div class="row top-row">
	<h2 class="box-heading"> Deadlines </h2>
		<div class="col-md-2" ng-repeat="t in myTasks track by $index">
			<div class="panel panel-default">
				<div class="box-heading">
					{{t.day}}
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="p in t.tasks track by $index">
							{{p}}
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<i class="fa fa-trash" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>



	<div class="row second-row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="box-heading">
					Team's tasks
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="a in teamTasks track by $index">
							{{a}}
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<i class="fa fa-trash" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<div class="col-sm-6">


			<div class="panel panel-default">
				<div class="box-heading box1">
					Assign Task
				</div>
				<div class="panel-body">





				<!-- TO FILL -->
				<form>
					<input type="text" placeholder="To Whom?"> <br> <hr>
					<input type="text" placeholder="What?"> <br> <hr>
					<input type="submit" class="btn bt-primary" value="Add task">
				</form>





				</div>
			</div>




		</div>

		</div>
	</div>