<div class="container-fluid home-class">

	<header>
		<nav class="navbar navbar-default" id="orizontalnav">
			<div class="cm-navbar">
			  <ul id="navlist">
			    <li class="topnav"><a href="#" class="hiThere" ng-click="signOut()">Sign out</a></li>
			    <li class="topnav"><a class="hiThere"> My Cases </a></li>
			    <li class="topnav"><a ui-sref="newcase" class="hiThere"> Create new Case </a></li>
			    <li class="topnav"><a class="hiThere" ng-click='show=!show' ng-class="{'selected': show}" > Join a Case</a></li>
			    <li class="topnav" ng-show=show><a class="hiThere" style="height: 64px;"><input type="search" name="searchcases" placeholder="Search..." ng-model="caseToFind"> </a></li>
			    <li class="topnav" ng-show=show><a class="hiThere"> <button class="btn btn-primary" ng-click="findCase(caseToFind)">Go</button></a></li>

			  </ul>
			</div>

			<div class="pull-right">
				<input type="button" class="btn btn-primary" name="current" value="{{currentUser.username}}">
			</div>

			<!-- NOT WORKING YET -->
			<!--<div class="dropdown pull-right">
	      <button class="btn btn-primary dropdownbtn collapsed" data-toggle="collapse">{{currentUser}}</button>
	      <ul class="dropdown-content" >
	        <li>
	          <a href="#">Profile</a>
	        </li>
	        <li>
	          <a href="#">Settings</a>
	        </li>
	      </ul>
	    </div> -->
	  </nav>
	</header>

	<!-- PopUp Start -->
	<div id="myModal" class="modal">

	  <div class="modal-content" ng-show=found>
	    <span class="close" ng-click="closeIt()">&times;</span>
	    Enter Password: <input type="Password" name="casePass" ng-model="casePass">
	    <button class="btn btn-primary" ng-click="authJoinCase(casePass)"> Join! </button>
	  </div>

	  <div class="modal-content" ng-hide=found>
	    <span class="close" ng-click="closeIt()">&times;</span>
	    The Case You Searched For Does Not Exist! Try Again (case sensitive)
	  </div>

	</div>
	<!-- PopUp End -->

	<div class="row top-row">
		<h2 class="box-heading"> my Deadlines </h2>
		<div class="col-md-2" ng-repeat="t in myTasks track by $index">
			<div class="panel panel-default">
				<div class="box-heading">
					{{t.day}}
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="p in t.tasks track by $index">
							{{p}}
							<i class="fa fa-pencil" aria-hidden="true"></i>
							<i class="fa fa-trash" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	<div class="row second-row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="box-heading">
					Team's tasks
				</div>
				<div class="panel-body">
					<table>
						<tr>
							<th>From</th>
							<th>On</th>
							<th>Deadline</th>
							<th>task</th>
							<th>Actions</th>
						</tr>
						<tr ng-repeat="a in teamTasks track by $index">
							<td>Admin</td>
							<td>21/1/2017</td>
							<td>30/1/2017</td>
							<td>{{a}}</td>
							<td>
								<i class="fa fa-pencil" aria-hidden="true"></i>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>



		<div class="col-sm-8">


			<div class="panel panel-default">
				<div class="box-heading box1">
					Assign new Task
					<!-- TODO Update existing, remove existing -->
				</div>
				<div class="panel-body">
					<form ng-submit="newtask(task)">
						<!-- select is not working together with material design -->
						<div class="input-field col s12">
							Task: <input type="text" placeholder="What?" ng-model="task.descr">
						</div>
						<div class="input-field col s3">
							For: <input type="text" placeholder="User" ng-model="task.to">
						</div>
						<div class="input-field col s3">
							Completed before: <input type="date" class="datepicker" ng-model="task.duedate">
						</div>
						<div class="input-field col s3">
							Handed before: <input type="date" class="datepicker" ng-model="task.checkdate">
						</div>
						<div class="input-field col s3">
							<br>
							Notifications:
							<!-- Rounded switch -->
							<label class="switch">
							  <input type="checkbox" ng-model="task.notifications">
							  <div class="slider round"></div>
							</label>
						</div>
						<div class="col s12">
							<input type="submit" class="btn bt-primary" value="Add task">
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<div class="row row-other-users">
		<div class="col-md-2">
			<a href=""> Go to User1's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User2's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User3's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User4's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User5's tasks</a>
		</div>
		<div class="col-md-2">
			<a href=""> Go to User6's tasks</a>
		</div>
	</div>


</div>